@import "./variables.scss";
@import "./reset.scss";

body {
    color: $primary_color;
}


.form-banner-container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 15;
    /*transform: translateY(-1500px);
    -webkit-transform: translateY(-1500px);
    -moz-transform: translateY(-1500px);
    -ms-transform: translateY(-1500px);
    -o-transform: translateY(-1500px);*/
    @include trans-1s;
   
    .overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        @include background-initializer;
        background-size: cover;
        background-image: url("../img/form/2.jpg");
        display: flex;
        justify-content: center;
        align-items: center;

        .form-close {
            position: absolute;
            top: 30px;
            right: 30px;
            width: 40px;
            height: 40px;
            background: inherit;
            background-image: url("../img/icons/close-white.png");
            @include background-initializer;
            background-size: cover;
            z-index: 3;
        }

        .logo {
            position: fixed;
            top: 0px;
            left: 20px;
            width: 100px;
            height: 80px;
            background: $primary_background;
            z-index: 3;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            @include trans-1s;
        }
        .logo.logo-visible {
            z-index: 3;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            @include trans-1s;
        }

        .form-wrapper {
            position: fixed;
            z-index: 3;
            width: 60%;
            height: 95vh;
            background: rgba(177, 176, 176, 0.377);
            backdrop-filter: blur(10px);
            @include border-20;
            overflow: hidden;
            @include trans-1s;
            
            .form-container {
                position: relative;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                z-index: 3;
                overflow-y: scroll;
                overflow-x: hidden;

                .user-alert {
                    position: absolute;
                    top: 0px;
                    background: red;
                    padding: 5px;
                    width: 100%;
                    font-size: $font-s;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include transformY($y: -50px);
                    z-index: 3;
                    @include trans-05s;
                    opacity: 0;
                    visibility: hidden;

                    .icon {
                        margin-right: 5px;
                        width: 30px;
                        height: 30px;
                        background: white;
                        @include border-circle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .icon:before {
                        content: "";
                        position: absolute;
                        width: 25px;
                        height: 25px;
                        background: white;
                        background-image: url("../img/svg/alert-red.svg");
                        background-size: contain;
                        @include background-initializer;
                        @include border-circle;
                    }
                }
                .user-alert.on {
                    @include transformY($y: 0px);
                    @include trans-05s;
                    visibility: visible;
                    opacity: 1;
                }
                .form-title {
                    position: relative;
                    top: 0px;
                    height: 5vh;
                    width: 100%;
                    //background: green;  // will be changed later or deleted
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.568);
    
                    div {
                        position: relative;
                        text-align: center;
                        font-weight: 550;
                        font-size: $font-vl;
                    }
                    div:nth-child(1) {
                        width: 25px;
                        height: 25px;
                        z-index: 2;
                        margin-left: 10px;
                        @include background-initializer;
                        background-image: url("../img/icons/ok.png");
                        background-size: cover;
                        @include trans-05s;
                    }
                    .ok-1 {
                        opacity: 0;
                        @include trans-05s;
                    }
                    .ok-1.off {
                        opacity: 1;
                        @include trans-05s;
                    }
                    div:nth-child(3) {
                        width: 25px;
                        height: 25px;
                        z-index: 2;
                        margin-right: 10px;
                        @include background-initializer;
                        background-image: url("../img/icons/edit.png");
                        background-size: cover;
                        background-color: white;
                        cursor: pointer;
                    }
    
                    div::first-letter {
                        text-transform: uppercase;
                    }
                }
                .eds .edited-wrap {
                    visibility: hidden;
                }
                .eds.off .edited-wrap {
                    visibility: visible;
                }
                .form-content {
                    position: relative;
                    width: 98%;
                    height: 92%;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas: 
                    'f1 f2'
                    'f3 f4'
                    'f5 f6'
                    'f7 f8'
                    'f9 f9'
                    'f10 f10'
                    'f11 f11';
                    grid-gap: 1rem;
                    margin: 2% auto;
                    @include trans-1s;
                    //background: peru;
                    //overflow-y: scroll;
                    overflow: hidden;

                    div {
                        position: relative;
                        display: flex;
                        flex-direction: column;

                        label {
                            font-size: $font-l;
                            font-weight: 500;
                            margin-bottom: $margin-vs;
                            margin-left: 50px;
                        }
                        label::first-letter {
                            text-transform: uppercase;;
                        }
                        input {
                            outline: none;
                            border: none;
                            padding: 10px 20px;
                            @include border-20;
                            font-weight: bolder;
                            letter-spacing: .5px;
                            color: rgb(95, 95, 95);
                            text-align: center;
                        }
                        .icon {
                            position: absolute;
                            top: 0px;
                            background: white;
                            width: 30px;
                            height: 30px;
                            @include border-circle;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            margin-left: 10px;

                            .i {
                                position: relative;
                                width: 20px;
                                height: 20px;
                                @include border-circle;
                                @include background-initializer;
                                background-size: contain;
                            }
                            .i-name {
                                background-image: url("../img/icons/name.png");
                            }
                            .i-email {
                                background-image: url("../img/icons/mail.png");
                            }
                            .i-number {
                                background-image: url("../img/icons/phone.png");
                            }
                            .i-company {
                                background-image: url("../img/icons/company.png");
                            }
                            .i-region {
                                background-image: url("../img/icons/region.png");
                            }
                            .i-city {
                                background-image: url("../img/icons/city.png");
                            }
                            .i-location {
                                background-image: url("../img/icons/location-form.png");
                            }
                        }
                        .arrow-wrap {
                            opacity: 0;
                            position: absolute;
                            top: 30px;
                            right: 5px;
                            width: 30px;
                            height: 30px;
                            background:white;
                            @include border-circle;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transform: rotate(90deg);
                            -webkit-transform: rotate(90deg);
                            -moz-transform: rotate(90deg);
                            -ms-transform: rotate(90deg);
                            -o-transform: rotate(90deg);

                            .arrow{
                                position: relative;
                                top: 0px;
                                width: 20px;
                                height: 20px;
                                //background: orange;
                                background-size: cover;
                                @include border-circle;
                                @include background-initializer;
                                background-image: url("../img/icons/arrow-black.png");
                            }
                        }
                        .agree-container {
                            position: relative;
                            display: flex;
                            flex-direction: row;
    
                            input[type="checkbox"] {
                                width: 25px;
                                height: 25px;
                                width: 5%;
                            }
                            p {
                                font-size: $font-s;
                                width: 95%;
                                margin-left: 2.5%;
                                margin-right: 2.5%; 
                            }
                            p::first-letter {
                                text-transform: uppercase;;
                            }
                        }
                        .form-btn-wrap {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 20px;
                            width: 100%;

                            .form-btn {
                                position: relative;
                                background: black;
                                padding: 7px 25px;
                                font-size: $font-s;
                                @include border-20;
                                color: white;
                                text-align: center;
                                cursor: pointer;
                                width: 100%;
                            }
                            .fbtn1 {
                                pointer-events: none;
                                background: rgb(163, 163, 163);
                                color: rgba(0, 0, 0, 0.356);
                            }
                            .fbtn1.activated {
                                pointer-events: all;
                                background: black;
                                color: white;
                            }
                        }
                        .note {
                            font-size: $font-vs;
                            margin-left: 20px;
                            margin-right: 20px;
                            padding: 2px;
                            text-align: center;
                        }
                        .alert {
                            float: right;
                            margin-right: 10px;
                            top: 40px;
                            color: red;
                            width: 10px;
                            height: 10px;
                            @include border-circle;
                            background: red;
                        }
                        .alert.on {
                            visibility: hidden;
                            @include trans;
                        }
                        .custom-select {
                            background: white;
                            padding: 0px 20px;
                            @include border-20;

                            select {
                                color: rgb(95, 95, 95);
                                text-align: center;
                                border: none;
                                outline: none;
                                padding: 10px 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                option {
                                    text-align: center;
                                }
                            }
                        }
                    }
                    div:nth-child(5) {
                        label {
                            div { background: rgb(52, 228, 52); }
                        }
                    }
                    div:nth-child(7) {
                        .toggle-btn-wrap {
                            position: absolute;
                            top: 0px;
                            right: 10px;
                            width: 50px;
                            height: 22px;
                            @include trans-05s;
                            cursor: pointer;
                            overflow: hidden;
                            box-shadow: 2px 0px 20px rgba(255, 255, 255, 0.767);

                            .toggle-btn {  
                                position: relative;
                                left: 0px;
                                width: 100%;
                                height: 100%;
                                background: red;
                                @include trans-05s;
                                box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.882);
                            }
                            .toggle-btn::before {
                                content:  "";
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 25px;
                                height: 100%;
                                background: white;
                                @include border-circle;
                                @include trans-05s;
                            }
                            .toggle-btn.active {
                                background: green;
                                @include trans-05s;
                            }
                        }
                        .toggle-btn-wrap.shift .toggle-btn::before {
                            left: 20px;
                            @include trans-05s;
                        }
                        .select-option-city {
                            display: block;
                        }
                        .select-option-city.on {
                            display: none;
                        }
                        .city-alt {
                            display: none;
                        }
                        .city-alt.on {
                            display: block;
                        }
                    }
                    .notify {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 4px;
                        height: 100%;
                        background: rgb(255, 65, 65);
                    }
                    .notify.color {
                        background: rgb(52, 228, 52);
                    }
                    .f1 {
                        grid-area: f1;
                    }
                    .f2 {
                        grid-area: f2;
                    }
                    .f3 {
                        grid-area: f3;
                    }
                    .f4 {
                        grid-area: f4;
                    }
                    .f5 {
                        grid-area: f5;
                    }
                    .f6 {
                        grid-area: f6;
                    }
                    .f7 {
                        grid-area: f7;
                    }
                    .f8 {
                        grid-area: f8;
                    }
                    .f9 {
                        grid-area: f9;
                    }
                    .f10 {
                        grid-area: f10;
                    }
                    .f11 {
                        grid-area: f11;
                    }
                }
                .form-content.collapse {
                    height: 0%;
                    @include trans-1s;
                }
                .delivery-method-wrapper {
                    position: relative;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    
                    .delivery-title {
                        position: relative;
                        top: 0px;
                        height: 5vh;
                        width: 100%;
                        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.568);
                        //background: green;  // will be changed later or deleted
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        z-index: 2;
        
                        div {
                            position: relative;
                            text-align: center;
                            font-weight: 550;
                            font-size: $font-vl;
                        }
                        div:nth-child(1) {
                            width: 25px;
                            height: 25px;
                            z-index: 2;
                            margin-left: 10px;
                            @include background-initializer;
                            background-image: url("../img/icons/ok.png");
                            background-size: cover;
                            @include trans-05s;
                        }
                        .ok-2 {
                            opacity: 0;
                            @include trans-05s;
                        }
                        .ok-2.off {
                            opacity: 1;
                            @include trans-05s;
                        }
                        div:nth-child(3) {
                            width: 25px;
                            height: 25px;
                            z-index: 2;
                            margin-right: 10px;
                            @include background-initializer;
                            background-image: url("../img/icons/edit.png");
                            background-size: cover;
                            background-color: white;
                            cursor: pointer;
                        }
                        div::first-letter {
                            text-transform: uppercase;
                        }
                    }
                    .eds .edited-wrap {
                        visibility: hidden;
                    }
                    .eds.off .edited-wrap {
                        visibility: visible;
                    }
                    .delivery-content {
                        position: relative;
                        width: 98%;
                        height: 0vh; // will be included later
                        //height: inherit; // will be remove later
                        //background: orange;
                        //overflow-y: scroll;  // will be included in @media query
                        //overflow-x: hidden;
                        visibility: hidden; 
                        overflow: hidden;
                        @include trans-1s;
                        margin-right: 1%;
                        margin-left: 1%;

                        .delivery-cell {
                            position: relative;
                            margin-top: $margin-l;
                            width: 100%;

                            .radio-header {
                                position: absolute;
                                top: 3px;
                                left: 50px;
                                float: right;
                            }

                            .delivery-check {
                                width: 25px;
                                height: 25px;
                            }
                            .radio-content {
                                width: 100%;
                                background: green;
                                height: 0vh;  // will be deleted later
                                @include trans-1s;
                                overflow: hidden;
                            }
                            .radio-content.expand {
                                height: 20vh;
                                @include trans-1s;
                            }
                            .radio-uncheck {
                                position: absolute;
                                right: 5px;
                                top: 0px;
                                font-size: $font-s;
                                background: black;
                                padding: 5px;
                                @include border-20;
                                cursor: pointer;
                            }
                        }
                        .delivery-btn-wrap {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: $margin-l;
                            margin-bottom: $margin-s;

                            .form-btn {
                                position: relative;
                                background: black;
                                padding: 7px 25px;
                                font-size: $font-s;
                                @include border-20;
                                color: white;
                                text-align: center;
                                cursor: pointer;
                                width: 100%;
                            }
                            .fbtn2 {
                                pointer-events: none;
                                background: rgb(163, 163, 163);
                                color: rgba(0, 0, 0, 0.356);
                            }
                            .fbtn2.activated {
                                pointer-events: all;
                                background: black;
                                color: white;
                            }
                        }
                    }
                    .delivery-content.collapse {
                        position: relative;
                        height: inherit;
                        visibility: visible;
                        @include trans-1s;
                    }
                }
                .payment-method-wrapper {
                    position: relative;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    margin-top: 20px;
                    
                    .payment-title {
                        position: relative;
                        top: 0px;
                        height: 5vh;
                        width: 100%;
                        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.568);
                        //background: green;  // will be changed later or deleted
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        z-index: 2;
        
                        div {
                            position: relative;
                            text-align: center;
                            font-weight: 550;
                            font-size: $font-vl;
                        }
                        div:nth-child(1) {
                            width: 25px;
                            height: 25px;
                            z-index: 2;
                            margin-left: 10px;
                            @include background-initializer;
                            background-image: url("../img/icons/ok.png");
                            background-size: cover;
                            @include trans-05s;
                        }
                        .ok-3 {
                            opacity: 0;
                            @include trans-05s;
                        }
                        .ok-3.off {
                            opacity: 1;
                            @include trans-05s;
                        }
                        div:nth-child(3) {
                            width: 25px;
                            height: 25px;
                            z-index: 2;
                            margin-right: 10px;
                            @include background-initializer;
                            background-image: url("../img/icons/edit.png");
                            background-size: cover;
                            background-color: white;
                            cursor: pointer;
                        }
                        div::first-letter {
                            text-transform: uppercase;
                        }
                    }
                    .eds .edited-wrap {
                        visibility: hidden;
                    }
                    .eds.off .edited-wrap {
                        visibility: visible;
                    }
                    .payment-content {
                        position: relative;
                        width: 98%;
                        height: 0vh; // will be included later
                        //height: inherit; // will be remove later
                        //background: orange;
                        //overflow-y: scroll;  // will be included in @media query
                        //overflow-x: hidden;
                        visibility: hidden; 
                        overflow: hidden;
                        @include trans-1s;
                        margin-right: 1%;
                        margin-left: 1%;

                        .payment-cell {
                            position: relative;
                            margin-top: $margin-l;
                            width: 100%;

                            .radio-header {
                                position: absolute;
                                top: 3px;
                                left: 50px;
                                float: right;
                            }

                            .payment-check {
                                width: 25px;
                                height: 25px;
                            }
                            .radio-content {
                                width: 100%;
                                background: green;
                                height: 0vh;  // will be deleted later
                                @include trans-1s;
                                overflow: hidden;
                            }
                            .radio-content.expand {
                                height: 20vh;
                                @include trans-1s;
                            }
                            .radio-uncheck {
                                position: absolute;
                                right: 5px;
                                top: 0px;
                                font-size: $font-s;
                                background: black;
                                padding: 5px;
                                @include border-20;
                                cursor: pointer;
                            }
                        }
                        .payment-btn-wrap {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: $margin-l;
                            margin-bottom: $margin-s;

                            .form-btn {
                                position: relative;
                                background: black;
                                padding: 7px 25px;
                                font-size: $font-s;
                                @include border-20;
                                color: white;
                                text-align: center;
                                cursor: pointer;
                                width: 100%;
                            }
                            .fbtn3 {
                                pointer-events: none;
                                background: rgb(163, 163, 163);
                                color: rgba(0, 0, 0, 0.356);
                            }
                            .fbtn3.activated {
                                pointer-events: all;
                                background: black;
                                color: white;
                            }
                        }
                    }
                    .payment-content.collapse {
                        position: relative;
                        height: inherit;
                        visibility: visible;
                        @include trans-1s;
                    }
                }
                .summary-wrapper {
                    position: relative;
                    left: 0px;
                    width: 100%;
                    margin-bottom: $margin-l;
                    margin-top: $margin-l;
                    
                    .summary-title {
                        position: relative;
                        top: 0px;
                        height: 5vh;
                        width: 100%;
                        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.568);
                        //background: green;  // will be changed later or deleted
                        text-align: center;
                        font-weight: 550;
                        font-size: $font-vl;
                        z-index: 2; 
                    }
                    .summary-content {
                        position: relative;
                        margin: 10px 10px 0px 10px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        width: 98%;
                        height: 100%;
                        //height: 0vh; // will be included later
                        //height: inherit; // will be remove later
                        //background: orange;
                        //overflow-y: scroll;  // will be included in @media query
                        //overflow-x: hidden;
                        //visibility: hidden; 
                        overflow: hidden;
                        @include trans-1s;
                        

                        div {
                            position: relative;
                        }
                        div:nth-child(1) {
                            flex-grow: 0;
                            margin-right: $margin-s;
                            margin-left: $margin-vs;
                            width: 100%;

                            .summary-cell-customer {
                                position: relative;
                                width: 100%;
                               // background: orange;
                                //height: 0vh;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                overflow: hidden;
                                transition: 1s ease;                            
                                -webkit-transition: 1s ease;                            
                                -moz-transition: 1s ease;                            
                                -ms-transition: 1s ease;                            
                                -o-transition: 1s ease;                            
                                                            
                                span {
                                    position: relative;
                                    margin-top: $margin-xvs;
                                    width: 100%;
                                   // background: red;
                                    display: flex;
                                    
                                    div {
                                        position: relative;
                                        width: 100%;
                                    }
                                    div:nth-child(2) {
                                        font-size: 13px;
                                        color: greenyellow;
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        //background: blue;
                                    }
                                }
                            }
                            .summary-cell-customer.active {
                                height: initial;
                                transition: 1s ease;
                                -webkit-transition: 1s ease;
                                -moz-transition: 1s ease;
                                -ms-transition: 1s ease;
                                -o-transition: 1s ease;
                            }
                            .summary-btn-wrap {
                                position: relative;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                margin-top: $margin-l;
                                margin-bottom: $margin-s;
                                width: 100%;
                                top: 10px;
                                background: black;
                                padding: 7px 25px;
                                @include border-20;
                                color: white;
                                border: none;
                                outline: none;
                                cursor: pointer;
                                font-size: $font-l;
                                
                                .form-btn {
                                    position: relative;
                                    background: black;
                                    padding: 7px 25px;
                                    font-size: $font-s;
                                    @include border-20;
                                    color: white;
                                    text-align: center;
                                    cursor: pointer;
                                    width: 100%;
                                }
                                .fbtn {
                                    pointer-events: none;
                                    background: rgb(163, 163, 163);
                                    color: rgba(0, 0, 0, 0.356);
                                }
                                .fbtn4.activated {
                                    pointer-events: all;
                                    background: black;
                                    color: white;
                                }
                            }
                        }
                        div:nth-child(2) {
                            flex-grow: 0;
                        }
                        div:nth-child(3) {
                            flex-grow: 0;
                        }
                    }
                    .summary-content.collapse {
                        position: relative;
                        height: inherit;
                        visibility: visible;
                        @include trans-1s;
                    }
                }
                .form-footer {
                    position: fixed;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    background: red;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    z-index: 3;

                    div {
                        padding: 2px;
                        font-size: $font-s;
                        position: relative;

                        span {
                            font-weight: bolder;
                            margin-left: 10px;
                        }
                    }
                }
            }
            .request-signIn-page {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.85);
                z-index: 5;
                display: none;
                justify-content: center;
                align-items: center;

                div {
                    .request-message {
                        font-size: $font-l;
                        font-weight: 550;
                    }
                    .request-btn {
                        margin-top: $margin-l;

                        a {
                            padding: 10px;
                            background: black;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .i {
                                width: 30px;
                                height: 30px;
                                background-image: url("/public/img/icons/arrow-white-down.png");
                                @include background-initializer;
                                background-size: cover;
                                margin-right: 10px;
                                @include rotate(90deg)
                            }
                        }
                    }
                }
            }
            .request-signIn-page.show {
                display: flex;
            }
        }
        .online-status-wrap {
            position: fixed;
            bottom: 0px;
            right: 0px;
            width: 100%;
            height: 4vh;
            background: rgba(255, 255, 255, 0.822);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            z-index: 5;
            @include trans-1s;
    
            div {
                position: relative;
                margin-left: 10px;
            }
            .status-toggle {
                width: 15px;
                height: 15px;
                box-shadow: 5px 5px 10px red;
                background: red;
                @include border-circle;
            }
            .status-text {
                font-size: $font-s;
                letter-spacing: 2px;
                color: black;
                font-weight: 550;
            }
            .status-toggle.status {
                background: green;
                box-shadow: 5px 5px 10px green;
            }
        }
        .online-status-wrap.slide {
            bottom: -50px;
            @include trans-1s;
        }
    }
    .overlay::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background: rgba(0, 0, 0, 0.559);
        width: 100%;
        height: 100%;
    }
}
.form-banner-container.customerForm {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    @include trans-1s;
}
.hidden {
    display: none;
}
