@import './reset.scss';
@import './variables.scss';

.user-fixed-image-wrap {
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 7;
    width: 35px;
    height: 35px;
    background: red;
    @include border-circle;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .image-user {
        position: relative;
        width: 25px;
        height: 25px;
        @include border-circle;
        @include background-initializer;
        background-size: cover;
        background-image: url("../img/icons/user.png");
        font-size: $font-s;
        overflow: hidden;
        color: white;
        font-weight: bolder;
        overflow: hidden;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.user-dashboard-wrapper {
    position: fixed;
    top: 100px;
    right: 70px;
    width: 40%;
    //height: 200px;
    background: white;
    z-index: 6;
    @include border-10;
    @include trans-05s;
    @include transformX(55px);
    opacity: 0;
    visibility: hidden;

    .user-dashboard-container {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        //display: none; // will be remove soon

        div {
            position: relative;
            color: black;
        }
        .user-image-wrap {
            width: 100px;
            height: 100px;
            background: rgba(128, 128, 128, 0.332);
            @include border-circle;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: $margin-vs;

            .user-image {
                position: relative;
                width: 90px;
                height: 90px;
                background: white;
                @include border-circle;
                @include background-initializer;
                background-size: cover;
                object-fit: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;


                div {
                    font-size: 40px;
                    font-weight: 550;
                }
            }
            .image-user {
                @include border-circle;
                @include background-initializer;
                background-size: cover;
            }
        }
        .user {
            margin-left: 10px;
            margin-right: 10px;
        }
        .user-name {
            font-size: $font-l;
            font-weight: 550;
        }
        .user-email {
            font-size: $font-s;
            color: rgba(0, 0, 0, 0.721);
        }
        .user-time {
            font-size: $font-s;
            font-style: italic;
            color: rgba(0, 0, 0, 0.721);
        }
        .user-btns {
            margin-top: $margin-s;

            .dash-btn {
                position: relative;
                padding: 5px;
                background: rgba(128, 128, 128, 0.253);
                @include border-20;
                margin: 10px;
                font-size: $font-vs;
                text-align: center;
                cursor: pointer;
                padding: 2px;
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                z-index: 5;
                
                div {
                    position: relative;
                    margin: 3px;
                }
                .i {
                    @include background-initializer;
                    background-size: cover;
                    width: 20px;
                    height: 20px;
                    @include border-circle;
                }
                .i-edit {
                    background-image: url("../img/icons/edit.png");
                }
                .i-out {
                    background-image: url("../img/svg/signout.svg");
                }
                .i-deleted {
                    background-image: url("../img/svg/deleteuser.svg");
                }
            }
            .dash-btn:hover {
                background: rgba(128, 128, 128, 0.553);
                @include trans-05s;
            }
        }
        
    }
}
.user-dashboard-wrapper::before {
    content: "";
    position: absolute;
    top: 10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background: white;
    @include rotate-90;
}
.user-dashboard-wrapper.shrink {
    @include trans-05s;
    @include transformX(0px);
    opacity: 1;
    visibility: visible;
    z-index: 6;
}
.user-edited-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.805);
    z-index: 20;
    //display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .user-edited-wrapper {
        position: relative;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 80%;

        .user-edited-close {
            position: absolute;
            top: 50px;
            right: 50px;
            width: 40px;
            height: 40px;
            @include border-circle;
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.658);
            z-index: 5;

            .i {
                width: 30px;
                height: 30px;
                background-image: url("../img/icons/close-white.png");
                @include background-initializer;
                background-size: cover;
                object-fit: cover;
            }
        }
        .user-edited-close:hover {
            box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.575);
        }
        .user-update-content {
            position: relative;
            width: 100%;
            height: 100%;
            background:rgba(128, 128, 128, 0.253);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            div { position: relative; }
            .user-edited-header {
                position: absolute;
                top: 20px;
                left: 0px;
                text-align: center;
                width: 100%;
                font-size: $font-vl;
                font-weight: 550;
            }
            .user-edit-alert {
                position: absolute;
                top: 10px;
                right: 100px;
                background: red;
                padding: 3px;
                font-size: $font-s;
                box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.644);
                //display: flex;
                @include trans-05s;
                display: none;

                div {
                    position: relative; 
                    margin: 5px;
                }

                .i {
                    width: 20px;
                    height: 20px;
                    background: white;
                    @include background-initializer;
                    background-size: cover;
                    background-image: url("../img/svg/alert-red.svg");
                }
            }
            .user-edit-alert.alert {
                display: flex;
                @include trans-05s;
            }
            .user-confirm-alert {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.829);
                z-index: 5;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                @include trans-05s;

                .confirm-container {
                    position: relative;
                    background: red;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    width: 85%;
                    padding: 20px;

                    div {
                        margin: 10px;
                    }

                    .close-confirm-alert {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        border: 2px solid white;
                        width: 40px;
                        height: 40px;
                        cursor: pointer;
                        @include background-initializer;
                        background-size: contain;
                        @include border-circle;
                        background-image: url("../img/icons/close-white.png");
                    }
                    .confirm-alert-text {
                        font-size: $font-vl;
                        font-weight: 550;
                        top: 20px;
                        margin-bottom: $margin-l
                    }
                    .confirm-btn {
                        padding: 15px;
                        border: 2px solid white;
                        cursor: pointer;
                        @include border-20;
                        display: block;
                    }
                    .confirm-btn.collapse {
                        display: none;
                    }
                    .confirm-btn:hover, .close-confirm-alert:hover {
                        background-color: rgb(179, 3, 3);
                    }
                    .re-auth-container {
                        display: none;

                        .re-auth-pass-wrap {
                            overflow: hidden;
                            display: flex; // will be remove later
                            justify-content: center;
                            align-items: center;
                            flex-direction: row;
                            background: white;
                            
    
                            input {
                                position: relative;
                                padding: 15px 20px;
                                outline: none;
                                border: none;
                                font-size: $font-l;
                                font-weight: 550;
                                text-align: center;
                            }
                            .i {
                                position: relative;
                                margin: 0px;
                                border: 1px solid white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                div {
                                    position: relative;
                                    background: red;
                                    @include background-initializer;
                                    background-size: cover;
                                    width: 40px;
                                    height: 40px;
                                    object-fit: cover; 
                                    background-image: url("../img/icons/key.png");
                                }
                            }
                        }
                        .re-auth-btn {
                            @extend .confirm-btn;
                            text-align: center;
                        }
                    }
                    .re-auth-container.collapse {
                        display: block;
                    }
                }
            }
            .user-confirm-alert.collapse {
                display: flex;
                @include trans-05s;
            }
            .user-edited-image { 
                flex-basis: 40%; 
                display: flex;
                justify-content: center;
                align-items: center;

                div { position: relative }

                .edited-image-wrap {
                    width: 20rem;
                    height: 20rem;
                    background: white;
                    @include border-circle;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .edited-image-container {
                        width: 17rem;
                        height: 17rem;
                        @include border-circle;
                        background: black;
                        text-align: center;
                        @include background-initializer;
                        background-size: cover;
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .upload-progress {
                            position: relative;
                            font-size: $font-xxl;
                            font-weight: 550;
                            //visibility: hidden;
                        }
                        .upload-progress.collapse {
                            visibility: visible;
                        }
                    }
                    .edited-image-container::before {
                        content: "";
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        width: 80px;
                        height: 80px;
                        @include border-circle;
                        background: grey;
                        @include background-initializer;
                        background-size: contain;
                        object-fit: contain;
                        background-image: url("../img/svg/camera.gif");
                    }
                }
            }
            .user-edited-content { 
                position: relative;
                flex-basis: 60%; 
                
                .user-edited-content-container {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .content {
                        position: relative;
                        width: 80%;
                        display: flex;
                        justify-content: space-around;
                        flex-direction: column;
                        margin-top: $margin-s;

                        .note {
                            position: absolute;
                            top: 15px;
                            right: 140px;
                            font-size: $font-vs;
                            color: rgb(255, 110, 110);
                        }
                        .note.show {
                            color: rgb(9, 211, 9);
                        }

                        label {
                            position: relative;
                            top: 0px;
                            left: 0px;
                            z-index: 2;
                            font-size: $font-vl;
                            font-weight: 550;
                            margin-bottom: $margin-vs;
                        }
                        
                        .content-section {
                            position: relative;
                            width: 100%;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            flex-direction: row;
                            overflow: hidden;

                            .verify-icon {
                                position: absolute;
                                top: 10px;
                                right: 140px;
                                width: 30px;
                                height: 30px;
                                background: white;
                                z-index: 2;
                                visibility: hidden;
                                @include background-initializer;
                                background-size: contain;
                                background-image: url("../img/icons/verify.png");
                            }
                            .verify-icon.show {
                                visibility: visible;
                            }

                            .content-icon {
                                position: absolute;
                                top: 0px;
                                left: 0px;
                                width: 50px;
                                height: 100%;
                                background: grey;
                                z-index: 3;
                                display: flex;
                                justify-content: center;
                                align-items: center;
    
                                .i {
                                    position: relative;
                                    width: 30px;
                                    height: 30px;
                                    @include background-initializer;
                                    background-size: cover;
                                    object-fit: cover;
                                }
                                .i-name {
                                    background-image: url("../img/icons/user.png");
                                }
                                .i-email {
                                    background-image: url("../img/icons/email.png");
                                }
                                .i-tel {
                                    background-image: url("../img/icons/phone-white.png");
                                }
                                .i-password {
                                    background-image: url("../img/icons/key.png");
                                }
                            }
                            .content-input {
                                position: relative;
                                width: 100%;
                                outline: none;
                                padding: 15px 60px;
                                font-size: $font-l;
                                font-weight: 550;
                                background: grey;
                                color: white;
                                text-align: center;
                                @include trans-05s;
                            }
                            .content-input::first-letter {
                                text-transform: uppercase;
                            }
                            .content-input.edit {
                                background: white;
                                text-align: left;
                                @include trans-05s;
                                color: black;
                            }
                            .content-input.edit .hover-name {
                                box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.582);
                                @include trans-05s;
                            }
                        }
                        .content-btns {
                            position: relative;
                            display: flex;

                            .btn{
                                width: 45px;
                                height: 45px;
                                background: grey;
                                margin: 0px 10px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                @include border-circle;

                                .i {
                                    background-size: cover;
                                    @include background-initializer;
                                    object-fit: cover;
                                    width: 30px;
                                    height: 30px;
                                    @include border-circle;
                                }
                                .i-close.close { display: flex; }
                                .i-edit { display: flex; background-image: url("../img/icons/edit-white.png"); }
                                .i-edit.collapse { display: none }
                                .i-save { background-image: url("../img/icons/thumb-white-up.png"); }
                                .i-close {display: none; background-image: url("../img/icons/close-white.png");}

                            }
                            .btn:hover {
                                background: rgba(128, 128, 128, 0.608);
                            }
                            .save-btn {
                                visibility: hidden;
                            }
                            .save-btn.active {
                                visibility: visible;
                            }
                        }
                    }
                    .content-delete {
                        .delete-wrap {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            //border: 2px solid white;
                            width: 70%;
                            cursor: pointer;

                            div { font-size: $font-s; }

                            .i {
                                margin-right: $margin-xvs;
                                @include background-initializer;
                                background-size: cover;
                                width: 20px;
                                height: 20px;
                                @include border-circle;
                            }
                            .i-deleted {
                                background-image: url("../img/icons/bin.png");
                            }
                        }
                    }
                }
            }
        }
    }   
}
.user-edited-overlay.show {
    display: flex;
}