<!----------------- INSIGHT SECTION ---------------->
<div class="insight-cards-container">
    <div class="insight-cards">
        <div class="insight-content">
            <div class="insight-logo"><div class="card-logo logo-1"></div></div>
            <div class="insight-header">Total Sales </div>
            <div class="insight-amount"><h3>Ghc 18.99</h3></div>
            <div class="insight-hour">Last 24hrs </div>
        </div>
        <div class="insight-circle">
            <svg class="insight-sales">
                <circle cx="38" cy="38" r="30"></circle>
            </svg>
            <div class="insight-percentage"> 78% </div>
        </div>
    </div>
    <div class="insight-cards">
        <div class="insight-content">
            <div class="insight-logo"><div class="card-logo logo-2"></div></div>
            <div class="insight-header">Total Expenses </div>
            <div class="insight-amount"><h3>Ghc 15.99</h3></div>
            <div class="insight-hour">Last 24hrs </div>
        </div>
        <div class="insight-circle">
            <svg class="insight-expenses">
                <circle cx="38" cy="38" r="30"></circle>
            </svg>
            <div class="insight-percentage"> 78% </div>
        </div>
    </div>
    <div class="insight-cards">
        <div class="insight-content">
            <div class="insight-logo"><div class="card-logo logo-3"></div></div>
            <div class="insight-header">Total Income </div>
            <div class="insight-amount"><h3>Ghc 24.99</h3></div>
            <div class="insight-hour">Last 24hrs </div>
        </div>
        <div class="insight-circle">
            <svg class="insight-income">
                <circle cx="38" cy="38" r="30"></circle>
            </svg>
            <div class="insight-percentage"> 78% </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------->
<!------------------ RECENT ORDERS ----------------------->
<div class="recent-orders-wrapper">
    <div class="recent-orders-container">
        <div class="order-header">
            <h3> Recent Orders </h3>
            <div class="sell-all-btn recent-orders-all"> Sell All </div>
        </div>
        <div class="orders-container">
            <div class="recent-orders">
                <table>
                    <thead>
                        <th></th>
                        <th> Product Name </th>
                        <th> Products UID </th>
                        <th> Payment </th>
                        <th> status </th>
                    </thead>
                    <tbody class="recent-orders-table-body">
                        <tr>
                            <td class="recent-photo"><div class="photo"><img src="../img/svg/user-red.svg" alt=""></div></td>
                            <td> Fordable Mini drone </td>
                            <td> #12223 </td>
                            <td> Awaiting </td>
                            <td class="color-yellow"> Pending </td>
                        </tr>
                        <tr>
                            <td class="recent-photo"><div class="photo"><img src="../img/svg/user-red.svg" alt=""></div></td>
                            <td> Fordable Mini drone </td>
                            <td> #12223 </td>
                            <td> Awaiting </td>
                            <td class="color-yellow"> Pending </td>
                        </tr>
                        <tr>
                            <td class="recent-photo"><div class="photo"><img src="../img/svg/user-red.svg" alt=""></div></td>
                            <td> Fordable Mini drone </td>
                            <td> #12223 </td>
                            <td> Refunded </td>
                            <td class="color-red"> Declined </td>
                        </tr>
                        <tr>
                            <td class="recent-photo"><div class="photo"><img src="../img/svg/user-red.svg" alt=""></div></td>
                            <td> Fordable Mini drone </td>
                            <td> #12223 </td>
                            <td> Paid </td>
                            <td class="color-green"> Delivered </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------->
<!------------------ RECENT CUSTOMERS ----------------------->
<div class="recent-customers-wrapper">
    <div class="recent-customer-container">
        <div class="customer-header">
            <h3> Recent Customers </h3>
            <div class="sell-all-btn recent-customer-all"> Sell All </div>
        </div>
        <div class="customer-contents">
            <div class="recent-customer">
                <table>
                    <thead>
                        <th> Photo </th>
                        <th> User Name</th>
                        <th> Email </th>
                        <th> Date </th>
                    </thead>
                    <tbody class="recent-customer-table-body">
                        <tr>
                            <td class="user-photo"><div class="photo"><img src="../img/svg/user-red.svg" alt=""></div></td>
                            <td> Daniel Ali </td>
                            <td class="user-email"> opd@gmail.com </td>
                            <td class=""> 23 Jan, 2020 </td>
                        </tr>
                        <tr>
                            <td class="user-photo"><div class="photo"><img src="../img/svg/user-red.svg" alt=""></div></td>
                            <td> Daniel Ali </td>
                            <td class="user-email"> ali@yahoo.com </td>
                            <td class=""> 23 Jan, 2020 </td>
                        </tr>
                        <tr>
                            <td class="user-photo"><div class="photo"><img src="../img/svg/user-red.svg" alt=""></div></td>
                            <td> Daniel Ali </td>
                            <td class="user-email">  ali@yahoo.com </td>
                            <td class=""> 23 Jan, 2020 </td>
                        </tr>
                        <tr>
                            <td class="user-photo"><div class="photo"><img src="../img/svg/user-red.svg" alt=""></div></td>
                            <td> Daniel Ali </td>
                            <td class="user-email"> daniel@hotmail.com </td>
                            <td class=""> 23 Jan, 2020 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------------->