<!------------- RECENT MESSAGE ------------------->
<div class="update-message">           
    <div class="customer-header">
        <h3> Updates </h3>
        <div class="color-indicator">
            <!--<div>Very New</div>-->
            <div>Very New</div>
            <div>Old</div>
        </div>
    </div>
    <div class="message-update-content">
        <div class="update-container">
            <div class="row">
                <div class="de color-client"></div>
                <div class="de-message">
                    <p> 
                        <em>Bryant Goddin</em> has make an order of <em>2</em> item(s)
                    </p>
                    <div>
                        <div class="de-time"> 08hr : 34min </div> ||
                        <div class="de-date"> Tue May 23, 2022 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------------------------------------->
<!------------- MESSAGE LOGS DETAILS ------------------->
<div class="update-customer">           
    <div class="customer-header">
        <h3> Message Logs  </h3>
    </div>
</div>
<div class="message-wrapper">
    aa
</div>
<!------------------------------------------------------>