<!------------ SALES ANALYTICS ---------------------->
<div class="summary-header"><h3> Sale Analytics </h3></div>
<div class="sale-analytics-wrapper">
    <div class="sale-analytics-container">
        <div>
            <div class="sale-image-wrap"><div class="image img-1"></div></div>
            <div class="sale-header">
                <h5> Online Orders </h5>
                <div class="sale-time"> Last 24 hours </div>
            </div>
            <div class="sale-calc">
                <div class="percentage"> +32% </div><div class="number"> 1725 </div>
            </div>
        </div>
        <div>
            <div class="sale-image-wrap"><div class="image img-2"></div></div>
            <div class="sale-header">
                <h5> New Customers </h5>
                <div class="sale-time"> Last 24 hours </div>
            </div>
            <div class="sale-calc">
                <div class="percentage"> +32% </div><div class="number"> 1725 </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------------------------------->