<ul class="sidebar">
    <li data-id="dashboard" class="sb-list active"><div class="i" data-id="dashboard"><div class="i-1"></div></div> Dashboard </li>
    <li data-id="1" class="sb-list"><div class="i" data-id="1"><div class="i-2"></div></div> Customers <div class="message-count count-customer"> 0 </div></li>
    <li data-id="2" class="sb-list"><div class="i" data-id="2"><div class="i-3"></div></div> Orders <div class="message-count count-order"> 0 </div></li>
    <li data-id="3" class="sb-list"><div class="i" data-id="3"><div class="i-4"></div></div> Analytics </li>
    <li data-id="4" class="sb-list"><div class="i" data-id="4"><div class="i-5"></div></div> Messages <div class="message-count count-msg"> 0 </div></li>
    <li data-id="5" class="sb-list"><div class="i" data-id="5"><div class="i-6"></div></div> Reports <div class="message-count count-report"> 0 </div></li>
</ul>
<ul class="sidebar-base-content">
    <li><div class="i"><div class="i-8"></div></div> Log Out </li>
</ul>