@media screen and (max-width: 896px) {
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    width: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 869px) {
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    width: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 812px) {
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    width: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 740px) {
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    width: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 736px) {
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    width: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 667px) {
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    width: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-client-logo .logo-wrap div:nth-child(2) {
    font-size: 13px;
    top: 5px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .watermark {
    top: 35%;
    left: -10%;
    font-size: 60px;
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-table-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div {
    font-size: 13px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div span {
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    width: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 540px) {
  .form-banner-container .overlay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    position: relative;
    width: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    height: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'f1' 'f2' 'f3' 'f4' 'f5' 'f6' 'f7' 'f8' 'f9' 'f10' 'f11';
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div input {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div select {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .form-banner-container .overlay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    position: relative;
    width: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    height: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'f1' 'f2' 'f3' 'f4' 'f5' 'f6' 'f7' 'f8' 'f9' 'f10' 'f11';
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div input {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div select {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-client-logo {
    display: none;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .watermark {
    top: 35%;
    left: -10%;
    font-size: 60px;
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(1) {
    font-size: 2.5rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(2), .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(3), .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(4) {
    font-size: 16px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .client-wrapper-media {
    display: block;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-table-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div {
    font-size: 13px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div span {
    text-align: center;
    width: 100%;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-summation-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-summation-wrap .summation-container div {
    font-size: 12px;
    margin: 5px;
  }
}

@media screen and (max-width: 414px) {
  .form-banner-container .overlay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    position: relative;
    width: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    height: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'f1' 'f2' 'f3' 'f4' 'f5' 'f6' 'f7' 'f8' 'f9' 'f10' 'f11';
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div input {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div select {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-client-logo {
    display: none;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .watermark {
    top: 35%;
    left: -10%;
    font-size: 60px;
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(1) {
    font-size: 2.5rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(2), .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(3), .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(4) {
    font-size: 16px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .client-wrapper-media {
    display: block;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-table-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div {
    font-size: 13px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div span {
    text-align: center;
    width: 100%;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-summation-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-summation-wrap .summation-container div {
    font-size: 12px;
    margin: 5px;
  }
}

@media screen and (max-width: 412px) {
  .form-banner-container .overlay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    position: relative;
    width: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    height: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'f1' 'f2' 'f3' 'f4' 'f5' 'f6' 'f7' 'f8' 'f9' 'f10' 'f11';
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div input {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div select {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 375px) {
  .form-banner-container .overlay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    position: relative;
    width: 97%;
    height: 97vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    height: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'f1' 'f2' 'f3' 'f4' 'f5' 'f6' 'f7' 'f8' 'f9' 'f10' 'f11';
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div input {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div select {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .summary-wrapper .summary-content div .summary-cell-customer span .label {
    font-size: 11px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .summary-wrapper .summary-content div .summary-cell-customer span div:nth-child(2) div {
    font-size: 11px;
    color: red;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-client-logo {
    display: none;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .watermark {
    top: 35%;
    left: -10%;
    font-size: 60px;
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(1) {
    font-size: 2.5rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(2), .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(3), .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(4) {
    font-size: 16px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .client-wrapper-media {
    display: block;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-table-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div {
    font-size: 13px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div span {
    text-align: center;
    width: 100%;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-summation-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-summation-wrap .summation-container div {
    font-size: 12px;
    margin: 5px;
  }
}

@media screen and (max-width: 360px) {
  .form-banner-container .overlay {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .form-banner-container .overlay .form-close {
    top: 5px;
    right: 5px;
    z-index: 10;
  }
  .form-banner-container .overlay .form-wrapper {
    position: relative;
    width: 97%;
    height: 97vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content {
    height: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 'f1' 'f2' 'f3' 'f4' 'f5' 'f6' 'f7' 'f8' 'f9' 'f10' 'f11';
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select select {
    text-align: left;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .custom-select option {
    text-align: center;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div label {
    font-size: 13px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div input {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div select {
    text-align: left;
    font-size: 16px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container input[type="checkbox"] {
    width: 25px;
    height: 25px;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .agree-container p {
    font-size: 11px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .form-banner-container .overlay .form-wrapper .form-container .form-content div .form-btn-wrap .form-btn {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-client-logo {
    display: none;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .watermark {
    top: 35%;
    left: -10%;
    font-size: 60px;
    transform: rotate(-65deg);
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(1) {
    font-size: 2.5rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(2), .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(3), .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-header-wrap div:nth-child(4) {
    font-size: 16px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .client-wrapper-media {
    display: block;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-table-header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 3fr 1fr 1fr 1fr;
        grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: .1rem;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div {
    font-size: 13px;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-item-wrap .invoice-item-cell div span {
    text-align: center;
    width: 100%;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-summation-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .invoice-wrapper .invoice-container .invoice-content .invoice .invoice-structure-wrap .invoice-structure-container .invoice-table-wrap .invoice-summation-wrap .summation-container div {
    font-size: 12px;
    margin: 5px;
  }
}
