*, html, body, ul, ol *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  background: #2e2e2e;
  color: white;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.user-fixed-image-wrap {
  position: fixed;
  top: 100px;
  right: 0px;
  z-index: 7;
  width: 35px;
  height: 35px;
  background: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.user-fixed-image-wrap .image-user {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/user.png");
  font-size: 13px;
  overflow: hidden;
  color: white;
  font-weight: bolder;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-dashboard-wrapper {
  position: fixed;
  top: 100px;
  right: 70px;
  width: 40%;
  background: white;
  z-index: 6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transform: translateX(55px);
  -webkit-transform: translateX(55px);
  -moz-transform: translateX(55px);
  -ms-transform: translateX(55px);
  -o-transform: translateX(55px);
  opacity: 0;
  visibility: hidden;
}
.user-dashboard-wrapper .user-dashboard-container {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.user-dashboard-wrapper .user-dashboard-container div {
  position: relative;
  color: black;
}
.user-dashboard-wrapper .user-dashboard-container .user-image-wrap {
  width: 100px;
  height: 100px;
  background: rgba(128, 128, 128, 0.332);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.user-dashboard-wrapper .user-dashboard-container .user-image-wrap .user-image {
  position: relative;
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.user-dashboard-wrapper .user-dashboard-container .user-image-wrap .user-image div {
  font-size: 40px;
  font-weight: 550;
}
.user-dashboard-wrapper .user-dashboard-container .user-image-wrap .image-user {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.user-dashboard-wrapper .user-dashboard-container .user {
  margin-left: 10px;
  margin-right: 10px;
}
.user-dashboard-wrapper .user-dashboard-container .user-name {
  font-size: 16px;
  font-weight: 550;
}
.user-dashboard-wrapper .user-dashboard-container .user-email {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.721);
}
.user-dashboard-wrapper .user-dashboard-container .user-time {
  font-size: 13px;
  font-style: italic;
  color: rgba(0, 0, 0, 0.721);
}
.user-dashboard-wrapper .user-dashboard-container .user-btns {
  margin-top: 20px;
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn {
  position: relative;
  padding: 5px;
  background: rgba(128, 128, 128, 0.253);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 10px;
  font-size: 11px;
  text-align: center;
  cursor: pointer;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn div {
  position: relative;
  margin: 3px;
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn .i {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn .i-edit {
  background-image: url("../img/icons/edit.png");
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn .i-out {
  background-image: url("../img/svg/signout.svg");
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn .i-deleted {
  background-image: url("../img/svg/deleteuser.svg");
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn .i-redirect {
  background-image: url("../img/icons/arrow-black-left.png");
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn .i-in {
  background-image: url("../img/svg/login-back.svg");
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .dash-btn:hover {
  background: rgba(128, 128, 128, 0.553);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .off {
  display: none;
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .off.show {
  display: flex;
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .in {
  display: flex;
}
.user-dashboard-wrapper .user-dashboard-container .user-btns .in.show {
  display: none;
}

.user-dashboard-wrapper::before {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  width: 30px;
  height: 30px;
  background: white;
  transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

.user-dashboard-wrapper.shrink {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  z-index: 6;
}

.user-edited-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.805);
  z-index: 20;
  justify-content: center;
  align-items: center;
  display: none;
}
.user-edited-overlay .user-edited-wrapper {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
}
.user-edited-overlay .user-edited-wrapper .user-edited-close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.658);
  z-index: 5;
}
.user-edited-overlay .user-edited-wrapper .user-edited-close .i {
  width: 30px;
  height: 30px;
  background-image: url("../img/icons/close-white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-edited-overlay .user-edited-wrapper .user-edited-close:hover {
  box-shadow: 0px 0px 15px rgba(255, 0, 0, 0.575);
}
.user-edited-overlay .user-edited-wrapper .user-update-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0.253);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.user-edited-overlay .user-edited-wrapper .user-update-content div {
  position: relative;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-header {
  position: absolute;
  top: 20px;
  left: 0px;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: 550;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edit-alert {
  position: absolute;
  top: 10px;
  right: 100px;
  background: red;
  padding: 3px;
  font-size: 13px;
  box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.644);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  display: none;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edit-alert div {
  position: relative;
  margin: 5px;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edit-alert .i {
  width: 20px;
  height: 20px;
  background: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/svg/alert-red.svg");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edit-alert.alert {
  display: flex;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.829);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container {
  position: relative;
  background: red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 85%;
  padding: 20px;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container div {
  margin: 10px;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .close-confirm-alert {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 2px solid white;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: url("../img/icons/close-white.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .confirm-alert-text {
  font-size: 20px;
  font-weight: 550;
  top: 20px;
  margin-bottom: 30px;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .confirm-btn, .user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container .re-auth-btn {
  padding: 15px;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: block;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .confirm-btn.collapse, .user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container .collapse.re-auth-btn {
  display: none;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .confirm-btn:hover, .user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container .re-auth-btn:hover, .user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .close-confirm-alert:hover {
  background-color: rgb(179, 3, 3);
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container {
  display: none;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container .re-auth-pass-wrap {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background: white;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container .re-auth-pass-wrap input {
  position: relative;
  padding: 15px 20px;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 550;
  text-align: center;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container .re-auth-pass-wrap .i {
  position: relative;
  margin: 0px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container .re-auth-pass-wrap .i div {
  position: relative;
  background: red;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url("../img/icons/key.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container .re-auth-btn {
  text-align: center;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert .confirm-container .re-auth-container.collapse {
  display: block;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-confirm-alert.collapse {
  display: flex;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-image {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-image div {
  position: relative;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-image .edited-image-wrap {
  width: 20rem;
  height: 20rem;
  background: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-image .edited-image-wrap .edited-image-container {
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: black;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-image .edited-image-wrap .edited-image-container .upload-progress {
  position: relative;
  font-size: 30px;
  font-weight: 550;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-image .edited-image-wrap .edited-image-container .upload-progress.collapse {
  visibility: visible;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-image .edited-image-wrap .edited-image-container::before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: grey;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url("../img/svg/camera.gif");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content {
  position: relative;
  flex-basis: 60%;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content {
  position: relative;
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .note {
  position: absolute;
  top: 15px;
  right: 140px;
  font-size: 11px;
  color: rgb(255, 110, 110);
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .note.show {
  color: rgb(9, 211, 9);
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content label {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 2;
  font-size: 20px;
  font-weight: 550;
  margin-bottom: 10px;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow: hidden;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .verify-icon {
  position: absolute;
  top: 10px;
  right: 140px;
  width: 30px;
  height: 30px;
  background: white;
  z-index: 2;
  visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/icons/verify.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .verify-icon.show {
  visibility: visible;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 100%;
  background: grey;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-icon .i {
  position: relative;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-icon .i-name {
  background-image: url("../img/icons/user.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-icon .i-email {
  background-image: url("../img/icons/email.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-icon .i-tel {
  background-image: url("../img/icons/phone-white.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-icon .i-password {
  background-image: url("../img/icons/key.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-input {
  position: relative;
  width: 100%;
  outline: none;
  padding: 15px 60px;
  font-size: 16px;
  font-weight: 550;
  background: grey;
  color: white;
  text-align: center;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-input::first-letter {
  text-transform: uppercase;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-input.edit {
  background: white;
  text-align: left;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  color: black;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-section .content-input.edit .hover-name {
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.582);
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns {
  position: relative;
  display: flex;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .btn {
  width: 45px;
  height: 45px;
  background: grey;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .btn .i {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .btn .i-close.close {
  display: flex;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .btn .i-edit {
  display: flex;
  background-image: url("../img/icons/edit-white.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .btn .i-edit.collapse {
  display: none;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .btn .i-save {
  background-image: url("../img/icons/thumb-white-up.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .btn .i-close {
  display: none;
  background-image: url("../img/icons/close-white.png");
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .btn:hover {
  background: rgba(128, 128, 128, 0.608);
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .save-btn {
  visibility: hidden;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content .content-btns .save-btn.active {
  visibility: visible;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content-delete .delete-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  cursor: pointer;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content-delete .delete-wrap div {
  font-size: 13px;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content-delete .delete-wrap .i {
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.user-edited-overlay .user-edited-wrapper .user-update-content .user-edited-content .user-edited-content-container .content-delete .delete-wrap .i-deleted {
  background-image: url("../img/icons/bin.png");
}

.user-edited-overlay.show {
  display: flex;
}/*# sourceMappingURL=userDashboard.css.map */