<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> 550 page </title>

    <link rel="stylesheet" href="../css/500.css">

  </head>
  <body>
    <div class="logo"><div></div></div>
    <div class="wrapper">
      <div class="container">
        <div class="row content">
          <div><h1>500</h1></div>
          <div>  
            <ul>
              <li> Sorry !!</li>
              <li> Internal Server Error </li>
              <li> Copyright@2022 All right reserved </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
