<div class="header-search-wrap">
    <div class="menu-wrap">
        <div class="header" data-header="create"><h3> Create Data </h3></div>
        <div class="menu">
            <ul>
                <li class="menu-btn" id="add-new-btn" data-menu="1"><div class="i i-add" data-menu="1"></div> Add New </li>
                <li class="menu-btn" id="preview-btn" data-menu="2"><div class="i i-preview" data-menu="2"></div> Preview </li>
            </ul>
        </div>
    </div>
    <div class="search-wrapper" id="create-seach-wrap">
        <input type="text" placeholder="Search here ..." class="search-bar">
        <div class="i-search"><div class="i"></div></div>
    </div>
</div>
<div class="show-content-wrapper" id=" breader-wrapper">
    <div class="show-content-container">
        
        <table>
            <thead>
                <th> Photo </th>
                <th> UID </th>
                <th> Tittle </th>
                <th> Seller </th>
                <th> Price </th>
                <th> Price Range </th>
                <th> Reduced Price </th>
                <th> Star Rated </th>
                <th> Category </th>
                <th> Item Type </th>
            </thead>
            <tbody>
                <tr>
                    <td><div class="db-photo"><img src="" alt=""></div></td>
                    <td> # </td>
                    <td> # </td>
                    <td> # </td>
                    <td> # </td>
                    <td> # </td>
                    <td> # </td>
                    <td> # </td>
                </tr>
                <tr>
                    <td> # </td>
                    <td> # </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
