<div class="sidebar-wrapper">
    <div class="sidebar-container">
        <ul class="sidebar-menu-wrap">
            <a href="" class="sidebar-menu menu-active" data-active-menu="create"><div class="i" id="i-create"></div><div class="i-text"> Create Data </div></a>
            <a href="" class="sidebar-menu" data-active-menu="modify"><div class="i" id="i-modify"></div><div class="i-text"> Modify Data </div></a>
            <a href="" class="sidebar-menu" data-active-menu="delete"><div class="i" id="i-delete"></div><div class="i-text"> Delete Data </div></a>
        </ul> 
    </div>
</div>