<form method="post" action="/log_reset" class="logIn-container">
    <div class="l-hidden validate-color">
        <div class="label-icon"><div class="icon-email" placeholder="User Name"></div></div>
        <input type="text" id="username" name="username" class="input validate-logIn input-tags email l-user" placeholder="User Name" minlength="3" autocomplete="off">
    </div>
    <div class="l-visible validate-color">
        <div class="label-icon"><div class="icon-email" placeholder="Email"></div></div>
        <input type="email" name="reset_email" class="input validate-reset input-tags email r-email" placeholder="Email" autocomplete="off">
    </div>
    <div class="l-hidden validate-color">
        <div class="label-icon"><div class="icon-password" placeholder="Password"></div></div>
        <input type="password" id="current-password" name="password" class="input validate-logIn input-tags confirm-password l-pass" placeholder="Password" minlength="3" autocomplete="off">
    </div>
    <div class="logIn-submit-wrap">
        <input type="submit" value="LogIn" class="input submitButtons login l-hidden">
        <input type="submit" value="Reset" class="input submitButtons reset l-visible">
    </div>
    <div class="reset-password-wrap l-hidden">
        <div> Forgot Password? </div>
        <div class="reset-pass-btn"> Reset </div>
    </div>
    <div class="l-hidden">
        <span> Don't have an account? </span>
        <span class="logIn-btn"> SignIn </span>
    </div>
    <div class="alt-logIn-wrap l-hidden">
        <div> Or </div>
        <div class="alt-btn goggle-btn"></div>
    </div>
    <div class="back-arrow-wrap-reset l-visible"><div class="reset-arrow"></div></div>
</form>